#scroll-to-bottom {
  position: absolute;
  margin: auto;
  bottom: 3vh;
  right: 50%; 
  opacity: 0.8;
  background-color: rgba(200 , 200, 200, 0.55);
  border: none;

  transition: transform 0.3s cubic-bezier(0.5, 0, 0.1, 1);
}

#scroll-to-bottom:hover {
  transform: translateY(-10px);
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.button-up-down {
  animation: updown 2s ease-in-out  infinite;
}


